*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#030712;
    font-family:'Poppins';
}

.navbar{
    width:100%;
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0px;
    background:rgba(3,7,18,0.95);
    border-bottom:1px solid rgba(255,255,255,0.08);
    position:sticky;
    top:0px;
    z-index:100;
}
.logo{
    font-size:1.7rem;
    font-weight:700;
    background:linear-gradient(
        90deg,
        #ffffff,
        #60a5fa,
        #8b5cf6
    );
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip:text;
    cursor:pointer;
}
.navlinks{
    display:flex;
    gap:55px;
    list-style:none;
}
.navlinks li a{
    text-decoration:none;
    color:#ffffff;
    font-size:0.9rem;
    letter-spacing:2px;
    font-weight:500;
    transition:all 0.3s ease;
    position:relative;
}
.navlinks li a:hover{
    background:linear-gradient(
        90deg,
        #ffffff,
        #60a5fa,
        #8b5cf6
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip:text;
}
.navlinks li a::after{
    content:"";

    position:absolute;
    left:0;
    bottom:-8px;

    width:0%;
    height:2px;

    background:linear-gradient(
        90deg,
        #60a5fa,
        #8b5cf6
    );

    transition:0.3s ease;
}

.navlinks li a:hover::after{
    width:100%;
}
.navlinks a {
  color: white;
  text-decoration: none;
}
.navlinks a.active {
  background: linear-gradient(
    90deg,
    #8b5cf6,
    #a855f7,
    #c084fc
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 600;
}